{{!< default}}

<div class="gh-postfeed">
    {{#foreach posts}}

        {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}

    {{/foreach}}
</div>

<div class="gh-pagination">
    {{pagination}}
</div>

