/* Members Auth Template
/* ---------------------------------------------------------- */

.gh-auth-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 10vmin;
    text-align: center;
}

.gh-auth-title {
    margin: 0 0 0.1em;
    font-size: 4.2rem;
}

.gh-auth-form p {
    margin: 10px 0 4vmin 0;
    font-size: 1.7rem;
    color: var(--text-2);
}

.gh-auth-form p small {
    display: inline-block;
    margin: 15px 0 0 0;
    font-size: 1.4rem;
}

.gh-auth-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 460px;
    margin: 0 auto;
}

.gh-auth-box .gh-button {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .gh-auth-box {
        flex-direction: column;
        max-width: 400px;
    }
    .gh-auth-box .gh-button {
        width: 100%;
        margin: 15px 0 0 0;
    }
}

/* Members Forms
/* ---------------------------------------------------------- */

form[data-members-form] .gh-button-loader,
form[data-members-form] .message-success,
form[data-members-form] .message-error {
    display: none;
}

.gh-button-content {
    min-width: 100px;
}

.message-success svg,
.message-error svg {
    position: relative;
    top: -1px;
    margin-right: 5px;
    height: 15px;
    width: 15px;
}
.message-success svg {
    fill: #fff;
}
.message-error svg {
    fill: var(--error);
}

form[data-members-form].success .message-success,
form[data-members-form].error .message-error {
    position: fixed;
    top: 20px;
    left: 4vmin;
    right: 4vmin;
    z-index: 9999;
    max-width: calc(1400px - 8vmin);
    margin: 0 auto;
    padding: 10px 0;
    color: var(--text-1);
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: var(--font-medium);
    text-align: center;
    background: var(--card);
    border: 1px solid var(--card-border);
    border-radius: var(--radius);
    box-shadow: var(--shadow-md);
}
form[data-members-form].success .message-success {
    background: var(--success);
    border-color: var(--success);
    color: var(--text-1);
}
form[data-members-form].error .message-error {
    color: var(--error);
    background: var(--card);
    border-color: var(--error);
    box-shadow: 0 0 0 1px var(--error);
}

form[data-members-form] .gh-button {
    position: relative;
    min-width: 120px;
}

/*-- Loading --*/

/* Hide button text */
form[data-members-form].loading .gh-button-content {
    visibility: hidden;
}

/* Show loading spinner */
form[data-members-form].loading .gh-button-loader {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: -30%;
    margin: 0 0 0 -19px;
    transform: scale(0.6);
}

.gh-button-loader svg path,
.gh-button-loader svg rect{
  fill: var(--text-1);
}

/*-- Show success message on success --*/
form[data-members-form].success .message-success {
    display: block;
}

/*-- Show error message on error --*/
form[data-members-form].error .message-error {
    display: block;
}
