/* Read More
/* ---------------------------------------------------------- */

.gh-readmore {
    padding: 2rem 0;
    font-family: var(--font-body);
}

.gh-readmore-inner {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.gh-readmore-prev {
    justify-content: flex-end;
    text-align: right;
}

.gh-readmore a {
    display: flex;
    align-items: center;
    color: var(--text-1);
    text-decoration: none;
    transition: color 0.2s ease;
}

.gh-readmore a:hover {
    color: var(--text-2);
}

.gh-readmore h4 {
    width: 100%;
    font-size: var(--fs-h5);
    font-family: var(--font-body);
    font-weight: var(--font-medium);
    line-height: var(--lh-tight);
    margin: 0;
}

.gh-readmore svg {
    display: inline-block;
    vertical-align: middle;
    height: 1.2em;
    width: 1.2em;
    flex-shrink: 0;
}

.gh-readmore svg + h4,
.gh-readmore h4 + svg {
    margin-left: 0.75rem;
}

/* Mobile - Breakpoint 740px (--small) */
@media (max-width: 740px) {
    .gh-readmore {
        padding: 1.5rem 0;
    }
    
    .gh-readmore-inner {
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
    }
    
    .gh-readmore-prev {
        text-align: left;
    }
    
    .gh-readmore h4 {
        font-size: var(--fs-h6);
    }
    
    .gh-readmore svg {
        height: 1em;
        width: 1em;
    }
}
