/* Buttons
/* ---------------------------------------------------------- */

.gh-button {
    display: inline-block;
    min-width: 75px;
    height: var(--height);
    padding: 0 2rem;
    border: 0;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: var(--font-normal);
    line-height: var(--height);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    appearance: none;
    transition: 0.4s ease;
}

.gh-button.gh-button-fit {
    width: 100%;
}

.gh-button.gh-button-small {
    height: calc(var(--height) * 0.9);
    line-height: calc(var(--height) * 0.9);
    padding: 0 1.5rem;
    font-size: 1.2rem;
}

.gh-button.gh-button-large {
    height: calc(var(--height) * 1.2);
    line-height: calc(var(--height) * 1.2);
    padding: 0 2.5rem;
    font-size: 1.7rem;
}

.gh-button.gh-button-disabled,
.gh-button:disabled {
    pointer-events: none;
    opacity: 0.4;
}

.gh-button {
    color: var(--text-1);
    background-color: transparent;
    border: 1px solid var(--border);
    box-shadow: none;
}

.gh-button:hover {
    text-decoration: none;
    color: var(--link-hover);
    border-color: var(--link-hover);
    transition: color 0.2s ease, border-color 0.2s ease;
}

.gh-button:focus {
    outline: none;
    box-shadow: var(--focus-ring);
}

.gh-button.gh-button-primary {
    color: var(--text-1);
    background-color: var(--accent);
    border-color: var(--accent);
}

.gh-button.gh-button-primary:hover {
    background-color: var(--accent-2);
    border-color: var(--accent-2);
    color: var(--text-1);
}
