/* Core Styles */

/*  To leverage the native smooth-scrolling by the browser (currently available in Firefox 36+ and Chrome 49+) */
/*  body, .smooth-container { scroll-behavior: smooth } */

.toc {
    overflow-y: auto;
}

.toc > .toc-list {
    overflow: hidden;
    position: relative;
}

.toc > .toc-list li {
    list-style: none;
}

.js-toc {
    overflow-y: hidden;
}

.toc-list {
    margin: 0;
    padding-left: 10px!important;
}

a.toc-link {
    height: 100%;
}

.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.is-collapsed {
    max-height: 0;
}

.is-position-fixed {
    position: fixed !important;
    top: 0;
}

.is-active-link {
    font-weight: var(--font-semibold);
    color: var(--text-1);
}

/* Default Theme Styles */

/*  Left line before pseudo element. */
.toc-link {
    color: var(--text-2);
    transition: color 0.2s ease;
}

.toc-link:hover {
    color: var(--text-1);
}

.toc-link::before {
    background-color: var(--accent-2);
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -1px;
    position: absolute;
    width: 2px;
    transition: background-color 0.2s ease;
}

.is-active-link::before {
    background-color: var(--accent);
}
